.unique-slide-button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 2px;
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.unique-slide-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #3a0e7b; */
  background-color: #5c18b0;
  border-radius: 2px;
  z-index: -2;
}

.unique-slide-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  /* background-color: #24054c; */
  background-color: #3a0e7b;

  transition: all 0.3s;
  border-radius: 2px;
  z-index: -1;
}

.unique-slide-button:hover {
  color: #fff;
}

.unique-slide-button:hover:before {
  width: 100%;
}
